@charset "UTF-8";

html, body{
	
	margin: 0;
	
	padding: 0;
	
	width: 100%;
	
	height: 100%;
	
}
.flexbox{

	display: flex;
	
	align-items: center;
	
	justify-content: center;
	
	width: 100%;
	
	height: 100%;
}

/* 首页样式加载开始  */
.index{
	
	background-image: url("../image/index.jpg");
}